/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/06/2018, 16:42:08
    Author     : 115111410
*/
html, 
body {
    height: 100%;
    margin:0;
    overflow: hidden;
}
.inputs{
    clear:both;
    max-width:100%;
    margin:20px auto;
    margin-left: 10px;
    display:block;
    font-family: 'Sunflower', sans-serif;
    text-align:left;
    font-size: 110%;
}
select{
     font-family: 'Sunflower', sans-serif;
      font-size: 80%;
}
.listaOcorrencias {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
          font-size: 80%;
    width: 100%;
}

.listaOcorrencias td, .listaOcorrencias th {
    border: 1px solid #ddd;
    padding: 4px;
}

.listaOcorrencias{
    max-height: 200px;
   
    overflow: auto;
}

.listaOcorrencias tr{background-color: #f2f2f2;}

.listaOcorrencias tr:hover {background-color: #ddd;}

.listaOcorrencias th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


.listaAgentes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
          font-size: 80%;
    width: 100%;
}

.listaAgentes td, .listaOcorrencias th {
    border: 1px solid #ddd;
    padding: 4px;
}

.listaAgentes{
    max-height: 100px;   
    overflow: auto;
}

.listaAgentes tr{background-color: #f2f2f2;}

.listaAgentes tr:hover {background-color: #ddd;}

.listaAgentes th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.maincolumn{
    position: relative;
    padding-left: 10%;
}
.ocorrencias{
      background-color: rgba(100, 100, 200, 0.8);
float:left;
    
}
.agentes{
    background-color: rgba(200, 100, 100, 0.8);
   
}
.novaocorrencia{
  background-color: rgba(200, 200, 0, 0.8);
}
.botaoCadastrar{
    margin: 50px;
}
.titlemenu{
    font-size: x-large;
    padding: 10px;
    font-size: 2.1em;
    font-family: 'Sunflower', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

input {

display:inline-block;

margin-left: 10px;

}
.profile{
    margin-right: 20px;
    color:white;
    text-align: right;
    display: inline;
    position:relative;
}

.exibircameras{
    background: gray;
    float: left;
}
.descricaoOcorrencia{
    margin-top: 10px;
}
.numOcorrencia h3{
    display: inline;
}

.disabled{
    visibility: hidden;
    width: 0px;
}
.buttonNovaOcorrencia{
  background: #eeee21;
  float:left;
}
.buttonAgentes{
     background: #ff7a7a;
    float:left; 
}
.buttonOcorrencias{
     background: #97de5c;
}

button {
    display: inline-block;
    border: none;
    padding: 0.4rem 0.5rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}